<nav>
    <a href="/">
        <h3>mySQLTravels</h3>
    </a>
    <div>
        {{#with user.admin}}
        <a href="/travels/add" class="p-4">Crea tu viaje!</a>
        {{/with}}
        <a href="/user/signup" class="p-4">Regístrate</a>
        <a href="/user/login" class="p-4">Accede</a>
    </div>
</nav>