<div class="col-md-10 mx-auto card p-2 m-4">
    <h1 class="jumbotron text-white bg-danger">{{message}}</h1>
    <h2 class="text-danger">{{error.status}}</h2>
    <pre class="text-danger">{{error.stack}}</pre>
</div>